repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
    -   id: black

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.18.2'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.3'
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]

ci:
    autoupdate_schedule: 'monthly'
